<footer class="footer text-center text-lg-start">
    <section class="container">
        <article class="row">
            <section class="col-sm">
                <a class="navbar-brand" href="#">
                    <img class="logo-history img-fluid" src="assets/icons/logo.png" alt="logo" />
                </a>
            </section>
            <section class="col-sm">
                <ul class="mr-auto text-left ml-4">
                    <li>
                        <a class="footer-link " href="# ">Home</a>
                    </li>
                    <li [routerLink]="['/characters']">
                        <a class="footer-link ">Characters of History</a>
                    </li>
                    <li [routerLink]="['/contact-us']">
                        <a class="footer-link">Contact Us</a>
                    </li>
                </ul>
            </section>
            <section class="col-sm ">
                <article class="login d-flex flex-row justify-content-center mt-4 ">
                    <section class="icon-details ">
                        <a id="login1 " class="footer-link " target="_blank " href="https://www.facebook.com/BogotaInstituteOfTechnology/ ">
                            <img src="assets/icons/facebook.png " alt="user " width="35px ">
                        </a>
                    </section>
                    <section class="icon-details ">
                        <a id="login2 " class="footer-link " target="_blank " href="https://www.instagram.com/bit_institute/ ">
                            <img src="assets/icons/instagram.png " alt="logout " width="35px ">
                        </a>
                    </section>
                    <section class="icon-details ">
                        <a id="login2 " class="footer-link " target="_blank " href="https://www.linkedin.com/company/bit---bogot%C3%A1-institute-of-technology/ ">
                            <img src="assets/icons/linkedin.png " alt="logout " width="35px ">
                        </a>
                    </section>
                    <section class="icon-details ">
                        <a id="login2 " class="footer-link " target="_blank " href="https://twitter.com/bit_institute ">
                            <img src="assets/icons/twitter.png " alt="logout " width="35px ">
                        </a>
                    </section>
                    <section class="icon-details ">
                        <a id="login2 " class="footer-link " target="_blank " href="https://www.youtube.com/channel/UCKujCcousdjoiIRwoxEvphw ">
                            <img src="assets/icons/youtube.png " alt="logout " width="35px ">
                        </a>
                    </section>
                </article>
            </section>
        </article>
    </section>
    <section class="text-center p-3 " style="background-color: rgba(0, 0, 0, 0.2); ">
        © Edgar Eduardo Salamanca Diaz.
    </section>
</footer>