<section class="container my-5 position-relative">
    <article class="p-2 mb-3 bg-primary text-white font-weight-bold"><span>CHARACTERS OF HISTORY</span></article>
    <article class="row">
        <img class="d-block mx-auto img-fluid history-img col-mg-6" src="assets/images/1.jpg" alt="image 1">
        <section class="col-md-6">
            <h2 class="mt-4">Nikola Tesla</h2>
            <p>
                (en cirílico, Никола Тесла; Smiljan, Imperio austríaco, actual Croacia; 10 de julio de 1856-Nueva York, 7 de enero de 1943) fue un inventor, ingeniero eléctrico y mecánico serbocroata nacionalizado estadounidense.1​2​3​ Se le conoce sobre todo por sus
                numerosas invenciones en el campo del electromagnetismo, desarrolladas a finales del siglo XIX y principios del siglo XX. Las patentes de Tesla y su trabajo teórico ayudaron a forjar las bases de los sistemas modernos para el uso de la
                energía eléctrica por corriente alterna (CA), lo que incluye el sistema polifásico de distribución eléctrica y el motor de corriente alterna, que contribuyeron al surgimiento de la Segunda Revolución Industrial
            </p>
        </section>
    </article>
    <br>
    <article class="row">
        <img class="d-block mx-auto img-fluid history-img col-mg-6" src="assets/images/2.jpg" alt="image 2">
        <section class="col-md-6">
            <h2 class="mt-4">Steve Jobs</h2>
            <p>
                Steven Paul Jobs (San Francisco, California; 24 de febrero de 1955-Palo Alto, California; 5 de octubre de 2011),8​9​10​11​ más conocido como Steve Jobs, fue un empresario y magnate de los negocios en el sector informático y de la industria del entretenimiento
                estadounidense. Fue cofundador y presidente ejecutivo de Apple12​ y máximo accionista individual de The Walt Disney Company
            </p>
        </section>
    </article>
    <br>
    <article class="row">
        <img class="d-block mx-auto img-fluid history-img col-mg-6" src="assets/images/einstein.png" alt="image einstein">
        <section class="col-md-6">
            <h2 class="mt-4">Albert Einstein</h2>
            <p>
                (alemán: /ˈalbɛɐ̯t ˈʔaɪnʃtaɪn/; Ulm, Imperio alemán; 14 de marzo de 1879 - Princeton, Estados Unidos; 18 de abril de 1955) fue un físico alemán de origen judío, nacionalizado después suizo, austriaco y estadounidense. Se le considera el científico más
                importante, conocido y popular del siglo XX
            </p>
        </section>
    </article>
</section>